.firstDiv{
    background-color: #524B4A;
    height: 20rem;
}
img{
    margin-top: 2rem;
}
.title{
    color: white;
    /* margin-left: 2rem;
    font-size: 2rem; */
}
.td{
    margin-left: 2rem;
}
.footer{
    background-color: #2563B9;
    margin-top: 12rem;
    height: 7rem;
}
.footer img{
    margin-top:4px;
    margin-left: 4px;
    height: 5rem;
}
.footer p{
    color:white;
}